{% extends 'base.html.twig' %}

{% block title %}Estatus de Documentos{% endblock %}

{% block page_title %}
    Detalle Estatus de Documentos
{% endblock %}

{% block page_subtitle %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-content">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ estatus_documento.idEstatusDocumento }}</td>
                                    </tr>
                                    <tr>
                                        <th>NombreEstatusDocumento</th>
                                        <td>{{ estatus_documento.nombreEstatusDocumento }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a class="btn btn-info" href="{{ path('estatus_documento_index') }}">
                            <span>
                                <i class="fas fa-list"></i>
                            </span>
                            <span>
                                Ver todos
                            </span>
                        </a>
    
                        <a class="btn btn-info" href="{{ path('estatus_documento_edit', {'idEstatusDocumento': estatus_documento.idEstatusDocumento}) }}">
                            <span>
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>
                                Editar
                            </span>
                        </a>
                        <br/>

                        {{ include('estatus_documento/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_page %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#catalogos').addClass('active treeview menu-open');
            $('#estatusDocumento').addClass('active');
        });
    </script>
{% endblock %}