{% extends 'base.html.twig' %}

{% block title %}Alumnos{% endblock %}

{% block page_title %}
    Alumnos Inscritos
{% endblock %}

{% block page_subtitle %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-content">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Matricula</th>
                                        <th>Apellido Paterno</th>
                                        <th>Apellido Materno</th>
                                        <th>Nombre</th>
                                        <th>CURP</th>
                                        <th>Edad</th>
                                        <th>Fecha de Nacimiento</th>
                                        <th>Sexo</th>
                                        <th>Correo Electrónico</th>
                                        <th>Telefono Fijo</th>
                                        <th>Telefono Celular</th>
                                        <th>Fecha Alta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for alumno in alumnos %}
                                    <tr>
                                        <td>{{ alumno.matricula }}</td>
                                        <td>{{ alumno.apellidoPaterno }}</td>
                                        <td>{{ alumno.apellidoMaterno }}</td>
                                        <td>{{ alumno.nombre }}</td>
                                        <td>{{ alumno.curp }}</td>
                                        <td>{{ alumno.edad }}</td>
                                        <td>{{ alumno.fechaNacimiento ? alumno.fechaNacimiento|date('d/m/Y') : '' }}</td>
                                        <td>{{ alumno.sexo }}</td>
                                        <td>{{ alumno.correoElectronico }}</td>
                                        <td>{{ alumno.telefonoFijo }}</td>
                                        <td>{{ alumno.telefonoCelular }}</td>
                                        <td>{{ alumno.fechaAlta ? alumno.fechaAlta|date('d/m/Y') : '' }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="12">No se encontraron registros.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts_page %}
    <script type="text/javascript">
        $(document).ready(function( index ){
            var idNivelAcademico = {{ ofertaAcademica.idNivelAcademico.idNivelAcademico }};
            var idOfertaAcademica = {{ ofertaAcademica.idOfertaAcademica }};
            $('#inscritos').children('ul').children('li').each(function() {
                if($(this).attr('id')==idNivelAcademico){
                    $(this).children('ul').children('li').each(function() {
                        if($(this).attr('id')!==idNivelAcademico.toString()+idOfertaAcademica.toString()){
                            $(this).removeClass('active');
                        }
                    });
                }
                else {
                    $(this).removeClass('active menu-open');
                    $(this).children('ul').children('li').each(function() {
                        $(this).removeClass('active');
                    });
                }
            });
        });
    </script>
{% endblock %}