{% extends 'base.html.twig' %}

{% block title %}Alumnos{% endblock %}

{% block page_title %}
    Alumnos Pre Inscritos
{% endblock %}

{% block page_subtitle %}
{% endblock %}

{% block page_content %}
    {% if mensaje %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Error!</strong> {{ mensaje }}.
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-content">
                        <input id="myInput" type="text" placeholder="Buscar alumno">
                        <div class="table-responsive">
                            <table class="table table-hover" id="alumnos">
                                <thead>
                                    <tr>
                                        <th>Matricula</th>
                                        <th>Apellido Paterno</th>
                                        <th>Apellido Materno</th>
                                        <th>Nombre</th>
                                        <th>CURP</th>
                                        <th>Correo Electrónico</th>
                                        <th>Telefono Fijo</th>
                                        <th>Telefono Celular</th>
                                        <th>Fecha Alta</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for alumno in alumnos %}
                                    <tr>
                                        <td>{{ alumno.matricula }}</td>
                                        <td>{{ alumno.apellidoPaterno }}</td>
                                        <td>{{ alumno.apellidoMaterno }}</td>
                                        <td>{{ alumno.nombre }}</td>
                                        <td>{{ alumno.curp }}</td>
                                        <td>{{ alumno.correoElectronico }}</td>
                                        <td>{{ alumno.telefonoFijo }}</td>
                                        <td>{{ alumno.telefonoCelular }}</td>
                                        <td>{{ alumno.fechaAlta ? alumno.fechaAlta|date('d/m/Y') : '' }}</td>
                                        <td>
                                            <a class="btn btn-info" href="{{ path('alumno_show', {'matricula': alumno.matricula}) }}"  data-toggle="tooltip" data-placement="top" title="Prueba" data-original-title="Tooltip on top">
                                                <i class="fas fa-search-plus"></i>
                                            </a>
                                            <a class="btn btn-info" href="{{ path('alumno_edit', {'matricula': alumno.matricula}) }}">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="10">No se encontraron registros.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <a class="btn btn-primary" href="{{ path('alumno_new') }}">Agregar Nuevo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_page %}
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#alumnos tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
