{% extends 'base.html.twig' %}

{% block title %}Asignación de Pantallas{% endblock %}

{% block page_title %}
    Asignación de Pantallas
{% endblock %}

{% block page_subtitle %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-content">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Rol de Menú</th>
                                        <th>Pantalla</th>
                                        <th>Submenu</th>
                                        <th>Orden</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for menu_menu_render in menu_menu_renders %}
                                    <tr>
                                        <td>{{ menu_menu_render.idMenuMenuRender }}</td>
                                        <td>{{ menu_menu_render.menuIdMenuRender.nombreRol }}</td>
                                        <td>{{ menu_menu_render.menuIdMenu.labelHtml }}
                                        <td>{{ menu_menu_render.child ? 'Yes' : 'No' }}</td>
                                        <td>{{ menu_menu_render.orden }}</td>
                                        <td>
                                            <a class="btn btn-info"  href="{{ path('menu_menu_render_show', {'idMenuMenuRender': menu_menu_render.idMenuMenuRender}) }}">
                                                <i class="fas fa-search-plus"></i>
                                            </a>
                                            <a class="btn btn-info" href="{{ path('menu_menu_render_edit', {'idMenuMenuRender': menu_menu_render.idMenuMenuRender}) }}">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">No se encontraron registros.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <a class="btn btn-primary" href="{{ path('menu_menu_render_new') }}">Agregar nuevo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}